<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net452" />
  <package id="Accord.Video.DirectShow" version="3.8.0" targetFramework="net452" />
  <package id="Grasshopper" version="6.10.18308.14011" targetFramework="net452" />
  <package id="RhinoCommon" version="6.10.18308.14011" targetFramework="net452" />
</packages>